<div id="game-container" style="padding: 0.4em; border-radius: 0.25em; width: calc(100vw - 6em); height: calc(100vh - 8em); background-color: #F9F9F9;">
  <canvas id="game-board" style="width: 100%; height: calc(100% - 1.2em)"></canvas>
  <div style="display: flex; flex-direction: row; justify-content: space-between;">
    <p><small><strong>Score:</strong>&nbsp;<span id="game-points">0</span></small></p>
    <p><small>Esc to pause</small></p>
    <p><small><strong>Highest:</strong>&nbsp;<span id="game-record">0</span></small></p>
  </div>
</div>

<script src={~p"/assets/snake_game.js"}></script>
<script type="text/javascript">
  window.snakeGameControls.init();
</script>