<.flash_group flash={@flash} />
<link rel="stylesheet" type="text/css" href={~p"/assets/home.css"} />
<main class="flex flex-col justify-center sm:block sm:w-full px-4 py-2 sm:px-8 lg:px-10 xl:px-10 max-w-[72rem]">
  <div class="w-[18em] sm:w-[32em] sm:py-4 md:w-full md:py-4 md:max-w-full md:mx-0 grid md:grid-flow-row md:gap-8 grid-profile">
    <div class="max-w-full w-full md:flex md:flex-col md:align-bottom md:justify-center grid-profile-picture-area">
      <img class="rounded-full" src={~p"/images/profile/2023.png"} alt="profile picture" />
    </div>
    <div class="xl:w-1/2 md:mt-4 grid-profile-name-area">
      <h1 class="w-full text-[2em] sm:text-[5em] md:text-[7em] my-0 py-0 font-semibold leading-tight tracking-tighter text-zinc-900 text-balance">
        Romulo <br class="dont-print" />Rodrigues
      </h1>
      <span class="text-xl md:text-[3em] font-semibold mt-0 leading-tight tracking-tighter text-zinc-800 text-balance">
        Software Engineer
      </span>
    </div>
    <div class="md:w-full grid-profile-about-area">
      <p class="text-base tracking-wide leading-7 text-zinc-600">
        Seasoned software developer, known for thriving in dynamic environments, specialized in Web full-stack web development.
      </p>
      <p class="text-base tracking-wide leading-7 text-zinc-600">
        An effective team player who quickly builds rapport, fostering a collaborative and friendly team environment. Committed to delivering high-quality results, with a diverse skillset across various areas of software development.
      </p>
      <p class="text-base tracking-wide leading-7 text-zinc-600">
        Seeking to leverage these strengths and experiences in a challenging role that allows for growth and innovation.
      </p>
    </div>
    <div class="flex flex-col gap-6 md:gap-4 md:pr-8 grid-profile-experience-area">
      <div class="flex flex-col gap-1">
        <h2 class="text-lg font-bold uppercase">Work Experience</h2>
        <hr class="mb-2" />
        <div class="flex flex-col gap-4">
          <div class="break-inside-avoid">
            <h3 class="font-medium">
              Andela/WWT &mdash; Senior Software Engineer
            </h3>
            <p class="font-thin tracking-loose">2022 &dash; 2024</p>
            <p class="text-base font-light leading-snug tracking-loose text-pretty">
              Working for a big player in games industry, providing solutions for client&rsquo;s digital store, migrating legacy data and serving for millions of online users.
            </p>
          </div>
          <div class="break-inside-avoid">
            <h3 class="font-medium">
              Idopter Labs &mdash; Senior Software Developer
            </h3>
            <p class="font-thin tracking-loose">2021 &dash; 2022</p>
            <p class="text-base font-light leading-snug tracking-loose text-pretty">
              Providing services in frontend, backend, delivery, and automation for client&rsquo;s payment portal, with multiple payment methods and recurring subscriptions.
            </p>
          </div>
          <div class="break-inside-avoid">
            <h3 class="font-medium">
              Jobsity/Avenue8 &mdash; Software Engineer
            </h3>
            <p class="font-thin tracking-loose">2020 &dash; 2021</p>
            <p class="text-base font-light leading-snug tracking-loose text-pretty">
              Development of frontend and backend microservices for real estate marketing automation services in mobile-first web solution for Avenue8 real estate agents.
            </p>
          </div>
          <div class="break-inside-avoid">
            <h3 class="font-medium">
              Emprego.net &mdash; Software Engineer
            </h3>
            <p class="font-thin tracking-loose">2019 &dash; 2020</p>
            <p class="text-base font-light leading-snug tracking-loose text-pretty">
              Development of FE and BE for employment platform for unskilled labor job listings of WYSIWYG form builders for no-code HR processes automation.
            </p>
          </div>
          <div class="break-inside-avoid">
            <h3 class="font-medium">
              LINK Soluções &mdash; Software Developer
            </h3>
            <p class="font-thin tracking-loose">2017 &dash; 2019</p>
            <p class="text-base font-light leading-snug tracking-loose text-pretty">
              Frontend and embed solutions development for projects in software house model using multiple languages and tools fitting to the client needs.
            </p>
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-1">
        <h2 class="text-lg font-bold uppercase">Education</h2>
        <hr class="mb-2" />
        <h3 class="font-medium">
          Faculdade Estácio Belém
          <span class="text-zinc-600">
            (prev. known as IESAM)
          </span>
          <span class="dont-print font-semibold cursor-pointer">
            &#9432;
          </span>
        </h3>
        <p class="font-thin tracking-loose">2012 &dash; 2016</p>
        <p class="text-base font-light leading-snug tracking-loose text-pretty">
          Graduated in bachelor’s degree in computer engineering with all honors and 4.8/5 GPA. Assisting supplementary freshman Math and Programming classes.
        </p>
      </div>
      <div class="flex flex-col gap-1">
        <h2 class="text-lg font-bold uppercase">Skills and Tools</h2>
        <hr class="mb-2" />

        <div class="flex flex-col gap-y-4">
          <div class="break-inside-avoid">
            <h3 class="font-medium">Teamwork and leadership</h3>
            <p class="text-base font-light leading-snug tracking-loose text-pretty">
              Product-oriented development soft skills, with great communication with peers, leadership and clients.
            </p>
          </div>
          <div class="break-inside-avoid">
            <h3 class="font-medium">
              Languages and Frameworks
            </h3>
            <p class="text-base font-light leading-snug tracking-loose text-pretty">
              Javascript + Typescript, Node.js, HTML5, SASS, Angular v1, Angular 2+, React, Vue.js, jQuery, C#, .Net, Python, Django, Ruby, Ruby on Rails, Elixir, Bash
            </p>
          </div>
          <div class="break-inside-avoid">
            <h3 class="font-medium">
              Databases
            </h3>
            <p class="text-base font-light leading-snug tracking-loose text-pretty">
              SQL such as PostgreSQL, MySQL, SQLite, MSSQL and Oracle; NoSQL as AWS DynamoDB, MongoDB, Redis
            </p>
          </div>
          <div class="break-inside-avoid">
            <h3 class="font-medium">
              Infrastructure
            </h3>
            <p class="text-base font-light leading-snug tracking-loose text-pretty">
              AWS, Google Cloud, Firebase, Heroku, CircleCI, Codefresh, Jenkins
            </p>
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-1 break-inside-avoid">
        <h2 class="text-lg font-bold uppercase mt-0.5">Contact Info</h2>
        <hr class="mb-1" />
        <p class="text-base font-light leading-snug tracking-loose text-pretty">
          <strong class="font-semibold">Email address:</strong>
          <span>work@romulogabriel.dev</span>
        </p>
        <p class="text-base font-light leading-snug tracking-loose text-pretty">
          <strong class="font-semibold">LinkedIn:</strong>
          <span>https://www.linkedin.com/in/romulo-gabriel-rodrigues/</span>
        </p>
      </div>
    </div>
  </div>
</main>
<footer class="max-w-full xl:max-w-[74rem] px-2 py-4 mr-8 md:mr-0 mb-12 dont-pring">
  <ul class="text-right flex flex-col dont-print">
    <li>
      <a
        href="/projects"
        class="font-semibold text-balance underline text-zinc-900 hover:text-zinc-600"
      >
        Check out some projects 👷🏽‍♂️
      </a>
    </li>
    <li>
      <a
        href="https://app.reclaim.ai/m/gabriel-rodrigues/quick-meeting"
        target="_blank"
        class="font-semibold text-balance underline text-zinc-900 hover:text-zinc-600"
      >
        Schedule a quick call 📲
      </a>
    </li>
    <li>
      <a
        href="https://www.github.com/yemolai"
        target="_blank"
        class="font-semibold text-balance underline text-zinc-900 hover-text-zinc-600"
      >
        Projects in Github
        <div class="inline-block">
          <svg width="14" height="14" viewbox="0 0 98 96" xmlns="http://www.w3.org/2000/svg">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M48.854 0C21.839 0 0 22 0 49.217c0 21.756 13.993 40.172 33.405 46.69 2.427.49 3.316-1.059 3.316-2.362 0-1.141-.08-5.052-.08-9.127-13.59 2.934-16.42-5.867-16.42-5.867-2.184-5.704-5.42-7.17-5.42-7.17-4.448-3.015.324-3.015.324-3.015 4.934.326 7.523 5.052 7.523 5.052 4.367 7.496 11.404 5.378 14.235 4.074.404-3.178 1.699-5.378 3.074-6.6-10.839-1.141-22.243-5.378-22.243-24.283 0-5.378 1.94-9.778 5.014-13.2-.485-1.222-2.184-6.275.486-13.038 0 0 4.125-1.304 13.426 5.052a46.97 46.97 0 0 1 12.214-1.63c4.125 0 8.33.571 12.213 1.63 9.302-6.356 13.427-5.052 13.427-5.052 2.67 6.763.97 11.816.485 13.038 3.155 3.422 5.015 7.822 5.015 13.2 0 18.905-11.404 23.06-22.324 24.283 1.78 1.548 3.316 4.481 3.316 9.126 0 6.6-.08 11.897-.08 13.526 0 1.304.89 2.853 3.316 2.364 19.412-6.52 33.405-24.935 33.405-46.691C97.707 22 75.788 0 48.854 0z"
              fill="#24292f"
            />
          </svg>
        </div>
      </a>
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/romulo-gabriel-rodrigues/"
        class="font-semibold text-balance underline text-zinc-900 hover:text-zinc-600"
      >
        Say Hi on LinkedIn
        <div class="inline-block">
          <svg fill="#000000" height="14" width="14" viewBox="0 0 310 310">
            <g>
              <path d="M72.16,99.73H9.927c-2.762,0-5,2.239-5,5v199.928c0,2.762,2.238,5,5,5H72.16c2.762,0,5-2.238,5-5V104.73
		C77.16,101.969,74.922,99.73,72.16,99.73z" />
              <path d="M41.066,0.341C18.422,0.341,0,18.743,0,41.362C0,63.991,18.422,82.4,41.066,82.4
		c22.626,0,41.033-18.41,41.033-41.038C82.1,18.743,63.692,0.341,41.066,0.341z" />
              <path d="M230.454,94.761c-24.995,0-43.472,10.745-54.679,22.954V104.73c0-2.761-2.238-5-5-5h-59.599
		c-2.762,0-5,2.239-5,5v199.928c0,2.762,2.238,5,5,5h62.097c2.762,0,5-2.238,5-5v-98.918c0-33.333,9.054-46.319,32.29-46.319
		c25.306,0,27.317,20.818,27.317,48.034v97.204c0,2.762,2.238,5,5,5H305c2.762,0,5-2.238,5-5V194.995
		C310,145.43,300.549,94.761,230.454,94.761z" />
            </g>
          </svg>
        </div>
      </a>
    </li>
    <li>
      <a
        href="mailto:work@romulogabriel.dev"
        target="_blank"
        class="font-semibold text-balance underline text-zinc-900 hover:text-zinc-600"
      >
        Get in touch 📧
      </a>
    </li>
  </ul>
</footer>
