<.flash_group flash={@flash} />

<main class="px-4 py-10 sm:px-6 sm:py-28 lg:px-8 xl:px-14 xl:py-32">
  <div
    class="mx-auto max-w-full xl:max-w-[72rem] lg:mx-0 grid grid-flow-row gap-8"
    style="grid-template-columns: 25% auto"
  >
    <div class="w-full flex flex-col align-bottom justify-center">
      <img class="rounded-full" src={~p"/images/profile/2023.png"} alt="profile picture" />
    </div>
    <div class="mt-4">
      <h1 class="text-[7em] my-0 py-0 font-semibold leading-tight tracking-tighter text-zinc-900 text-balance">
        Romulo <br />Rodrigues
      </h1>
      <span class="text-xl font-semibold mt-0 leading-tight tracking-tighter text-zinc-800 text-balance">
        Software Engineer
      </span>
    </div>
    <div class="w-full">
      <p class="text-base tracking-wide leading-7 text-zinc-600">
        Seasoned software developer, known for thriving in dynamic environments, specialized in Web full-stack web development.
      </p>
      <p class="text-base tracking-wide leading-7 text-zinc-600">
        An effective team player who quickly builds rapport, fostering a collaborative and friendly team environment. Committed to delivering high-quality results, with a diverse skillset across various areas of software development.
      </p>
      <p class="text-base tracking-wide leading-7 text-zinc-600">
        Seeking to leverage these strengths and experiences in a challenging role that allows for growth and innovation.
      </p>
    </div>
    <div class="flex flex-col gap-4 pr-8">
      <div class="flex flex-col gap-1">
        <h2 class="text-lg font-bold uppercase">Work Experience</h2>
        <hr class="mb-2" />
        <div class="flex flex-col gap-4">
          <div>
            <h3 class="font-medium">
              Andela/WWT &mdash; Senior Software Engineer
            </h3>
            <p class="font-thin tracking-loose">2022 &dash; 2024</p>
            <p class="text-base font-light leading-snug tracking-loose text-pretty">
              Working for a big player in games industry, providing solutions for client&rsquo;s digital store, migrating legacy data and serving for millions of online users.
            </p>
          </div>
          <div>
            <h3 class="font-medium">
              Idopter Labs &mdash; Senior Software Developer
            </h3>
            <p class="font-thin tracking-loose">2021 &dash; 2022</p>
            <p class="text-base font-light leading-snug tracking-loose text-pretty">
              Providing services in frontend, backend, delivery, and automation for client&rsquo;s payment portal, with multiple payment methods and recurring subscriptions.
            </p>
          </div>
          <div>
            <h3 class="font-medium">
              Jobsity/Avenue8 &mdash; Software Engineer
            </h3>
            <p class="font-thin tracking-loose">2020 &dash; 2021</p>
            <p class="text-base font-light leading-snug tracking-loose text-pretty">
              Development of frontend and backend microservices for real estate marketing automation services in mobile-first web solution for Avenue8 real estate agents.
            </p>
          </div>
          <div>
            <h3 class="font-medium">
              Emprego.net &mdash; Software Engineer
            </h3>
            <p class="font-thin tracking-loose">2019 &dash; 2020</p>
            <p class="text-base font-light leading-snug tracking-loose text-pretty">
              Development of FE and BE for employment platform for unskilled labor job listings of WYSIWYG form builders for no-code HR processes automation.
            </p>
          </div>
          <div>
            <h3 class="font-medium">
              LINK Soluções &mdash; Software Developer
            </h3>
            <p class="font-thin tracking-loose">2017 &dash; 2019</p>
            <p class="text-base font-light leading-snug tracking-loose text-pretty">
              Frontend and embed solutions development for projects in software house model using multiple languages and tools fitting to the client needs.
            </p>
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-1">
        <h2 class="text-lg font-bold uppercase">Education</h2>
        <hr class="mb-2" />
        <h3 class="font-medium">
          IESAM &mdash; Instituto de Estudos Superiores da Amazônia
          <span class="text-zinc-600">
            (acquired by Faculdade Estácio de Belém)
          </span>
          <span class="dont-print font-semibold cursor-pointer">
            &#9432;
          </span>
        </h3>
        <p class="font-thin tracking-loose">2012 &dash; 2016</p>
        <p class="text-base font-light leading-snug tracking-loose text-pretty">
          Graduated in bachelor’s degree in computer engineering with all honors and 4.8/5 GPA. Assisting supplementary freshman Math and Programming classes.
        </p>
      </div>
      <div class="flex flex-col gap-1">
        <h2 class="text-lg font-bold uppercase">Skills and Tools</h2>
        <hr class="mb-2" />

        <div class="flex flex-col gap-y-4">
          <div>
            <h3 class="font-medium">Teamwork and leadership</h3>
            <p class="text-base font-light leading-snug tracking-loose text-pretty">
              Product-oriented development soft skills, with great communication with peers, leadership and clients. Experienced leading technically in Agile teams.
            </p>
          </div>
          <div>
            <h3 class="font-medium">
              Languages and Frameworks
            </h3>
            <p class="text-base font-light leading-snug tracking-loose text-pretty">
              Javascript + Typescript, Node.js, HTML5, SASS, Angular v1, Angular 2+, React, Vue.js, jQuery, C#, .Net, Python, Django, Ruby, Ruby on Rails, Elixir, Bash
            </p>
          </div>
          <div>
            <h3 class="font-medium">
              Databases
            </h3>
            <p class="text-base font-light leading-snug tracking-loose text-pretty">
              SQL such as PostgreSQL, MySQL, SQLite, MSSQL and Oracle; NoSQL as AWS DynamoDB, MongoDB, Redis
            </p>
          </div>
          <div>
            <h3 class="font-medium">
              Infrastructure
            </h3>
            <p class="text-base font-light leading-snug tracking-loose text-pretty">
              AWS, Google Cloud, Firebase, Heroku, CircleCI, Codefresh, Jenkins
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer class="max-w-full xl:max-w-[74rem] px-2 py-4 mb-12">
  <div class="text-right flex flex-col dont-print">
    <a
      href="/projects"
      class="font-semibold text-balance underline text-zinc-900 hover:text-zinc-600"
    >
      Checkout some projects 👷🏽‍♂️
    </a>
    <a
      href="https://app.reclaim.ai/m/gabriel-rodrigues/quick-meeting"
      target="_blank"
      class="font-semibold text-balance underline text-zinc-900 hover:text-zinc-600"
    >
      Schedule a quick call 📲
    </a>
    <a
      href="https://www.linkedin.com/in/romulo-gabriel-rodrigues/"
      class="font-semibold text-balance underline text-zinc-900 hover:text-zinc-600"
    >
      Say Hi on LinkedIn
    </a>
    <a
      href="mailto:jobs@romulogabriel.dev"
      target="_blank"
      class="font-semibold text-balance underline text-zinc-900 hover:text-zinc-600"
    >
      Get in touch 📧
    </a>
  </div>
</footer>
