<h1 class="block w-full text-xl sm:text-[3em] text-pretty font-semibold mb-4">
  Projects
</h1>
<div class="w-full flex flex-col gap-8">
  <div class="flex flex-col gap-2">
    <div class="mt-2">
      <h2 class="text-lg font-medium">Website</h2>
      <hr />
    </div>
    <p>
      This website is a in progress project designed to have a printable Resume as home with some extras for my main domain <a
        class="underline"
        href="https://romulogabriel.dev"
      >romulogabriel.dev</a>, while also hosting the other domains pages (<a
        class="underline"
        href="https://romulogabriel.com"
      >romulogabriel.com</a>, <a class="underline" href="https://yemolai.dev">yemolai.dev</a>,
      <a class="underline" href="https://yemolai.com">yemolai.com</a>
      and <a class="underline" href="https://rgr.dev.br">rgr.dev.br</a>) and subdomains for smaller projects and experiments to come.
    </p>
    <p>
      This is a Phoenix Framework over Elixir, the decision to use this framework was mostly due to its small footprint on resources to host applications, overall speed and ease of maintenance. This is running in
      <a class="underline" href="https://fly.io" target="_blank">fly.io</a>
      (thanks for the free tier for experiments Fly.io 🙏🏼). As this will be used to host various HTML5 experiments and tools, with some minimal database operations and backend processing. As I'm being looking for a reason to have some hands-on experience with this language and framework, I've figured that building this would be helpful as a starting point
    </p>
    <p>
      <span class="font-semibold">Repository:</span>
      <a
        class="underline"
        href="https://github.com/yemolai/yemolai-website/tree/v2"
        target="_blank"
      >
        GitHub Yemolai/yemolai-website (v2)
      </a>
    </p>
  </div>
  <div class="flex flex-col gap-2">
    <div class="mt-2">
      <h2 class="text-lg font-medium">React.js Tic Tac Toe</h2>
      <hr />
    </div>
    <p>
      Simple lean-on-dependencies implementation of a Tic Tac Toe Game using React.js made in 2022 to get back into React, frontend-only, can even work offline after being loaded.
    </p>
    <p>
      I had plans on making it multiplayer through an Elixir backend and being able to be played solo or local multiplayer offline as a PWA application. Maybe someday I'll revisit it, but for now the project is on halt.
    </p>
    <p>
      <span class="font-semibold">Link(s):</span>
      <a class="underline" href="https://tictactoe.yemolai.com" target="_blank">
        React.js Tic Tac Toe Browser Game
      </a>
    </p>
    <p>
      <span class="font-semibold">Repository:</span>
      <a class="underline" href="https://github.com/Yemolai/react-tic-tac-toe" target="_blank">
        Tic Tac Toe in React
      </a>
    </p>
  </div>
  <div class="flex flex-col gap-2">
    <div class="mt-2">
      <h2 class="text-lg font-medium">HTML5 Snake Game</h2>
      <hr />
    </div>
    <p>
      Simple vanilla JS Snake Game, using the canvas element and its Canvas API.
    </p>
    <p>
      <span class="font-semibold">Link(s):</span>
      <a class="underline" href="/games/snake" target="_blank">
        Snake Game
      </a>
    </p>
    <p>
      <span class="font-semibold">Repository:</span>
      <a class="underline" href="https://github.com/Yemolai/yemolai-website" target="_blank">
        Tic Tac Toe in React
      </a>
    </p>
  </div>
  <p>
    Other projects I had are <strong>very</strong>
    old by now, so I'll not include those here as those aren't being used nor maintained anymore. You can probably take a look into my Github profile for some of them and a huge pile of shame of old projects and experiments lying around. Some new ones will show up in the next months.
  </p>
</div>
