@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

.only-print {
  visibility: hidden !important;
}

@media print {
  .dont-print {
    visibility: hidden !important;
  }
  .no-print {
    display: none !important;
  }

  .only-print {
    visibility: visible !important;
  }
}
