@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,700;0,900;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@0,300;0,500;0,800&display=swap');

:root {
    --white-color: #EBEDF2;
    --light-grey-color: #BCCD20;
    --navy-blue-color: #324858;
    --dark-grey-color: #414654;
    --black-color: #11141C;
    --earth-color: #AA9386;
    --accent-color: #3C4CC5;
    --secondary-color: #414654;
}

body {
  background-color: var(--white-color, #EEEEEE);
}

code {
  font-family: 'JetBrains Mono', monospace;
}
